<?xml version="1.0"?>
<robot name="pbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the jackal description -->
  <xacro:include filename="$(find pbot_description)/urdf/jackal_base.urdf.xacro" />

  <link name="bodybox_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Position and orientation of the box -->
      <geometry>
        <!-- Box geometry with specified dimensions -->
        <box size="0.45 0.4 0.48"/> <!-- Length x Width x Height -->
      </geometry>
      <material name="yellow">
        <color rgba="0 1 0 1"/> <!-- Green color -->
      </material>
    </visual>
  </link>

  <joint name="bodybox_joint" type="fixed">
      <origin xyz="0 0 0.24"
              rpy="0 0 0 " />
      <parent link="mid_mount" />
      <child link="bodybox_link" />
    </joint>


  <xacro:include filename="$(find pbot_description)/urdf/accessories/velodyne_vlp16_mount.urdf.xacro" />

  <xacro:velodyne_vlp16_mount prefix="front" parent_link="front_mount" topic="front/scan"/>

  <!-- Include the velodyne description -->
  <!-- <xacro:if value="$(optenv PBOT_LASER 0)">
    <xacro:unless value="$(optenv PBOT_LASER_VELODYNE_VLP16 0)">
      <xacro:include filename="$(find pbot_description)/urdf/accessories/velodyne_vlp16_mount.urdf.xacro" />
      <xacro:velodyne_vlp16_mount prefix="$(optenv PBOT_LASER_MOUNT front)"
                         parent_link="$(optenv PBOT_LASER_MOUNT front)_mount"
                         topic="$(optenv PBOT_LASER_TOPIC front/scan)"/>
    </xacro:unless>
  </xacro:if> -->
  
</robot>