<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
  <xacro:macro name="velodyne_vlp16_mount" params="prefix topic parent_link">

    <!-- <xacro:VLP-16 frame="${prefix}_laser" topic="${topic}" /> -->

    <link name="velodyne">
      <visual>
        <geometry>
          <cylinder radius="0.05" length="0.07"/>
        </geometry>
        <material name="blue">
          <color rgba="0 0 1 1"/> <!-- Blue color -->
        </material>
      </visual>
    </link>
    
    <joint name="${prefix}_laser_mount_joint" type="fixed">
      <origin xyz="0.1 0 0.53"
              rpy="0 0 0 " />
      <parent link="${parent_link}" />
      <child link="${prefix}_laser_mount" />
    </joint>

    <link name="${prefix}_laser_mount">
    </link>

    <joint name="${prefix}_laser_joint" type="fixed">
      <!-- This offset is from the base of the bracket to the LIDAR's focal point. -->
      <origin xyz="0 0 0.035" rpy="0 0 0" />
      <parent link="${prefix}_laser_mount" />
      <child link="velodyne" />
      <!-- <child link="${prefix}_laser" /> -->
    </joint>


    <gazebo reference="${prefix}_laser_mount">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  </xacro:macro>


</robot>
